app-definition{
    width: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
    min-width: 40%;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(105, 25, 181, 0.806);
    position: relative;
}