.history{
    font-family: 'Rubik Bubbles', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    margin-top: 10px;
}

.history p {
    cursor: pointer;
    font-size: 27px;
}
.history i:hover {
    color: red;
}

